body {
    display: flex;
    flex-direction: column;
    background-color: grey;

}
.header-padding {
    padding: 10px 120px;
}
.padding {
    padding: 10px 150px;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    border: 1px solid black;
    width: 200px;
    height: auto;
}

nav {
}

nav ul {
    display: flex;
    gap: 35px;
    padding: 0px;
    list-style-type: none;
} 
.image-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.image-div h1{
    color: white;;
    font-size: 45px;
    font-weight: 700;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex: 1 1 400px;
}
.image-wrapper {
    flex: 1 1 400px;
    min-width: 300px;
}
.image-wrapper img {
    max-width: 100%;
    height: auto;
}
button.signup {
    flex: 0 0 auto;
    padding: 5px 20px;
    border-width: px;
    border-style: solid;
    border-radius: 10px;
    border-color: green;;
    background-color: pink;
}
button.signup:hover{
    color: blue;
    background-color:white;
}
/* hero */
.hero {
    /* background-image: url("./images/hero.jpg"); */
    /* position: absolute; */
    background-image: url("./images/hero2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.hero-nav {
    font-size: 20px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
.
}
.hero-menu {
    font-size: 20px;
    display: flex;
    justify-content: space-between;

}

.hero-awesome {
    
}
.presentation-hero {
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    background-color: red;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}

.random {
    border-top: 1px solid black;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255,165,0,0.55);
    gap: 30px;


}

.photo-group {
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.photo-group figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 auto;
}
.photo-group figure img {
    height: 300px;
    width: 209px;
    min-width: 100px;
    max-width: 230px;
    border-radius: 10px;
    border: 5px solid black;

}

.photo-group figcaption {
    max-width: 200px;
    text-align: center;
    margin-top: 10px;
    color: purple;
    font-size: 20px;
    font-weight: 700;
}

.phrase {
    display: flex;
    justify-content: flex-end;
    flex-direction:column;
    background-color: rgba(160,30,186,0.33)
}

.phrase figure {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
figure p {
    min-width: 400px;
    font-size: 30px;
    font-style: italic;
}

.phrase figcaption {
    font-size: 23px;
    font-size: 30px;
    font-weight: 300;
}
.signup-div-wrapper {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
}
.signup-div {
    padding: 30px 60px;
    background-color: lightblue;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.action {
    flex: 0 1 400px;
}

.signup.action {
    background-color: lightblue;

}

.footer {
    padding: 30px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
